@media (max-width: 600px) {
  .container{
    width: 95%;
    padding: 20px;
    }
    ul{
      display: flex;
      text-align: center;
      flex-direction: column;
    }
    li{
      margin-left: 20px;
      padding: 10px 35px;
    }
    a{
      display: flex;
      text-align: center;
      justify-content: center;
    }
    nav{
      display:flex;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
    }

    table{
      border-collapse: collapse;
      display: block;
      flex-wrap: wrap;
      overflow-x: auto;
      overflow-y: auto;
    }

    .form2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

.container {
  width: 95%;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #0033a0; /* Royal Blue */
}

.model-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: x-large;
}

.navigation {
  padding: 5px;
  background-color: #0033a0; /* Royal Blue */
  color: white;
  text-align: left;
  margin-bottom: 20px;
  
}

.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation ul{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

li{
  list-style-type: none;
}

.center {
  text-align: center;
}

.large-text {
  font-size: 2em;
}

.dashboard {
  width: 100%;
  display: inline-flex;
  flex-direction: initial;
  flex-wrap: wrap;
  margin: auto;
}

.dashboarditems {
  width: 100%;
  display: inline-flex;
  flex-direction: initial;
  flex-wrap: wrap;
  margin: auto;
}

.dashbox{
  text-align: center;
  flex: 1;
  padding: 10px;
  background-color: #f0f8ff;
  border-radius: 8px;
  margin: 5px;
}

/*
.dashboard-item h2 {
  margin: 0;
  font-size: 1.2em;
}

.dashboard-item p {
  font-size: 1.5em;
  font-weight: bold;
}
*/
.form1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-actions {
  margin-top: 20px;
  text-align: center;
}

.form-actions button {
  padding: 10px 15px;
  margin: 0 5px;  
}

.savebt{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  background-color: #0033a0;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.table-container {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 300px;
  margin-top: 20px;
}

table {
  display: block;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: auto;
}

thead {
  background-color: #f8f8f8;
}

thead th {
  padding: 10px;
  text-align: center;
  width: 9%;
}

tbody tr {
  text-align: center;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.hidden {
  display: none;
}

.pagination-controls {
  margin-top: 10px;
  text-align: center;
}

.pagination-controls button {
  padding: 10px;
}

.offline {
  padding: 10px;
  text-align: center;
  display: none;
  color: #fff;
  background-color: #f44336;
}

#status.online {
  background-color: #4caf50;
}

#status.offline {
  background-color: #f44336;
}

.visible {
  display: block;
}

.alert-message {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  transition: opacity 0.5s;
  opacity: 0;
}

.alert-message.show {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.zoneSelector {
  display: none;
  position: fixed;
  padding: 10px;
  z-index: 1;
  left: 40%;
  top: 30%;
  width: 30%;
  height: 350px;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  color: #FFF;
}

.grid {
  background-color: #494949;
  margin: 15% auto;
  padding: 1px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 50%;
}

.zone {
  border: 1px solid #ccc;
  cursor:crosshair ;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.zone:hover {
  background-color: #ff0000;
  scale: 1.2;
}

.zone.selected {
  border: 5px solid #ff0000;
}

.closer {
  color: #ffffff;
  float: right;
  font-size: 36px;
  font-weight: bold;
}

.closer:hover,
.closer:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.zoneSelector2 {
  display: none;
  position: fixed;
  padding: 10px;
  z-index: 1;
  left: 40%;
  top: 30%;
  width: 30%;
  height: 350px;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  color: #FFF;
}

.zone2 {
  border: 1px solid #ccc;
  cursor:crosshair ;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.zone2:hover {
  background-color: #ff0000;
  scale: 1.2;
}

.zone2.selected2 {
  border: 5px solid #ff0000;
}


/*
.panel {
  width: 50em;
  height: 30em;
  padding-left: 5px;
  background-color: #414141;
}

.radio-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
}

.radio-input input {
  appearance: none;
  margin: 0.5em 0.1em 0.5em 0.1em;
  width: 15em;
  height: 8em;
  background-color: #928686;
  box-shadow: inset 2px 5px 10px rgb(206, 194, 194);
  border-radius: 5px;
  transition: .4s ease-in-out;
}

.radio-input input:hover {
  scale: 1.2;
  cursor: pointer;
  box-shadow: none;
}

.radio-input .plus1 {
  position: relative;
  top: 0.1em;
  left: -6em;
  width: 1.3em;
  height: 0.2em;
  background-color: red;
  rotate: 45deg;
  scale: 0;
  border-radius: 5px;
  transition: .4s ease-in-out;
}

.radio-input .plus2 {
  position: relative;
  width: 1.3em;
  height: 0.2em;
  background-color: red;
  transform: rotate(90deg);
  border-radius: 5px;
  transition: .4s ease-in-out;
}

.radio-input input:checked {
  box-shadow: none;
}

.radio-input input:checked + .plus1 {
  transform: rotate(180deg);
  scale: 1;
} */


.painel {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin-top: 10px;
}
/*
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 50%;
}*/

