@media (max-width: 600px) {
  .container{
    width: 90%;
    padding: 20px;
    }
    ul{
      display: flex;
      text-align: center;
      flex-direction: column;
    }
    li{
      margin-left: 20px;
      padding: 10px 35px;
    }
    a{
      display: flex;
      text-align: center;
      justify-content: center;
    }
    nav{
      display:flex;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
    }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
}

.container {
  width: 95%;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #0033a0;
}

h2 {
  text-align: center;
  color: #0033a0;
}

nav {
  background-color: #0033a0;
  display:flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

nav ul {
  list-style-type:none;
  padding: 0;
}

nav ul li {
  display:inline;
  margin-right: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
  background-color: #fff;
  color: #0033a0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label, select, input, textarea, button {
  margin-bottom: 10px;
}

button {
  background-color: #4169e1;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}
button:hover {
  background-color: #45a049;
}

table {
  display: block;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: auto;
  
}

table {
  height: 600px;
  border: 1px solid #ddd;
  justify-content: center;
}

th, td {
  border: 1px solid #ddd;
  justify-content: center;
}

th, td {
  padding: 10px;
  text-align: center;
  width: 9%;
}

th {
  background-color: #0033a0; /* Royal Blue */
  color: white;
}

.tableheader{
  display: block;
  width: 100%;
  height: 800px;
  border-collapse: collapse;
  margin-top: 20px;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: auto;
  text-align: center;
  border: 1px solid #ddd;
  justify-content: center;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #4169e1;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #e0e0e0;
}

.filters-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.column-filter {
  width: 10%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font: 0.8em sans-serif;
}

.export-button {
  margin-bottom: 10px;
  padding: 5px 10px;
}

